.navbar-nav {
    margin-right: 12.2%;
}

.lazy {
    height: 7vh;
}

.dbtn:hover {
    border: 0;
    box-shadow: 0 0 3px #ffe205, 0 0 7px #ffe205, 0 0 20px #edd205;

}

.active:hover {
    color: #edd205;
}