.active{
    font-weight: bold;
}
.edit{
    color: rgb(50, 221, 50);
}

.action
{
    margin-top: 5px;
    width: 42px;
    border-radius: 80%;
}
.pagination{
  justify-content: center;
}
tr:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
